.navbar {
    width: 1200px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

ul {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    width: 900px;
    margin: auto;


}

li a{
    text-decoration: none;
    list-style-type: none;
    align-items: center;
    color: aliceblue;
    font-size: 15px;
    padding: 0 15px;
}